autopep8
aiofiles
coverage
hypercorn
jinja2==3.0.3
jupyter_sphinx
jyquickhelper
itsdangerous
lightmlrestapi
matplotlib
missingno
pycodestyle
pylint>=2.14.0
pyopenssl
pyquickhelper>=1.10
pyquicksetup
python-multipart
sphinx
sphinxcontrib.blockdiag
sphinxcontrib.imagesvg
sphinx_gallery
starlette>=0.11.0
ujson
uvicorn
wheel
