
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ app_title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', path='/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', path='/css/custom.css') }}" rel="stylesheet">
    
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_CHTML">
    </script>

<script>
function onloadFunction() {
    this.storage = [];
}
function handleClick(cb) {
    var chk = document.getElementById(cb).value;
    this.storage.push(String(cb) + ',' + String(chk));
}
function get_form_action(fo, game, qn, next) {
    var res = "";
    for (i = 0; i < this.storage.length; i++)
        res += "-" + this.storage[i];
    fo.action = "/answer?game=" + game + "&qn=" + qn + "&next=" + next + "&events=" + res;
}
function get_link(a, game, qn) {
    var res = "";
    for (i = 0; i < this.storage.length; i++)
        res += "-" + this.storage[i];
    var url = "/qcm?game=" + game + "&qn=" + qn + "&events=" + res;
    a.setAttribute('href', url);
}
</script>
</head>

  <body onload="onloadFunction()">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">Mathenjeu</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
           data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" 
           aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdown01" 
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/login">Login</a>
              <a class="dropdown-item" href="/logout">Logout</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="http://www.xavierdupre.fr/app/mathenjeu/">documentation</a>
          </li>
        </ul>
        {% if alias %}
        <form class="form-inline my-2 my-lg-0" action="/logout">
            <div class="parwhite">
            <p>{{ alias }}</p><p></p>
            </div>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log out</button>
        </form>
        {% endif %}
      </div>
    </nav>

    {% block content %}{% endblock %}

    <footer class="container">
      <p>&copy; mathenjeu</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', path='/js/jquery-3.3.1.slim.min.js') }}"</script>
    <script src="{{ url_for('static', path='/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/bootstrap.min.js') }}"></script>
  </body>
</html>
