{% extends "base.html" %}

{% block content %}
<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Impossible de se connecter</h1>
      <p>L'alias '{{alias}}' n'est pas reconnu ou le mot de passe est erroné.</p>
    </div>    
  </div>
  
<div class="container">
    <div class="row">
      <div class="col-md-4">
        <p><a class="btn btn-secondary" href="/login" role="button">Réessayer ?</a></p>
      </div>
    </div>  

    <hr />

  </div> <!-- /container -->

</main>
{% endblock %}
